body h1 {
 background: #000; 
 border-radius: 0.25em; 
 color: #FFF; margin: 0 0 1em; 
 padding: 0.5em 0; 
}


.invoice{
  width:970px !important;
  margin:50px auto;
}

.invoice .invoice-header{
  padding:25px 25px 15px;
}

.invoice .invoice-header h1{
  margin:0
}

.media-body{
  font-size:.9em;
  margin:0;
}
  
.invoice-body{
  border-radius:10px;
  padding:25px;
  background:#FFF;
}

.invoice-footer{
  padding:15px;
  font-size:0.9em;
  text-align:center;
  color:#999;
}

.logo{
  max-height:70px;
  border-radius:10px;
}