
.row-content{
      margin:50px auto;
    padding:20px 10px 20px 10px;
    border-bottom:1px ridge;
 }

 .row-text{
    margin:auto;
    padding:10px 0px 10px 0px;
    border-bottom:1px ridge;

 }

 .footer{
    background-color: rgba(14, 13, 13, 0.651);
    margin:10px auto;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
}
.overlay {
	position: relative;
	z-index: 1;
}

.overlay:after {
	background-color: rgba(0, 0, 0, 0.8);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.section-padding {
	padding: 100px 0;
}

.section-title {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 80px;
}

.section-title h2 {
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}

.section-title p {
	margin-top: 10px;
}

.section-title .title-line {
	color: #ffd000;
	position: relative;
}

.section-title .title-line::after {
	background-color: #333;
	content: "";
	height: 2px;
	left: -60px;
	position: absolute;
	top: 10px;
	width: 50px;
}

.section-title .title-line::before {
	background-color: #333;
	content: "";
	height: 2px;
	position: absolute;
	right: -60px;
	top: 10px;
	width: 50px;
}

.overlay .section-title h2,
.overlay .section-title p {
	color: #fff;
}

.overlay .section-title .title-line::after,
.overlay .section-title .title-line::before {
	background-color: #fff;
}

.scroll-top {
    bottom: 50px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 30px;
    width: 30px;
    z-index: 9999;
}



#header-area,
#header-area a {
	color: #fff;
}

#header-top {
	background-color: #1e2228;
	padding: 8px 0;
}

#header-top i {
	color: #ffd000;
	font-size: 15px;
	margin-right: 2px;
}

#header-area .header-social-icons a i.fa {
	color: #fff;
	font-size: 15px;
	margin-left: 10px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

#header-area .header-social-icons a:hover i.fa,
#header-area .mainmenu ul li.active a,
#header-area .mainmenu ul li:hover a {
	color: #ffd000;
}

header.fixTotop #header-top {
	display: none !important;
}

/*== Header Top CSS End ==*/

/*== Header Bottom CSS Start ==*/

#header-bottom {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 15px 0;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

header.fixTotop #header-bottom {
	background-color: rgba(0, 0, 0, 1);
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.logo {
	display: inline-block;
}

.mainmenu ul li {
	float: left;
	position: relative;
}

.mainmenu ul li a {
	display: block;
	font-weight: 700;
	margin-left: 25px;
	padding: 15px 0;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.mainmenu ul li ul {
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	left: 0;
	opacity: 0;
	position: absolute;
	top: 52px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	visibility: hidden;
	width: 220px;
	z-index: 9999;
}

.mainmenu ul li ul::after {
	border-bottom: 10px solid #fff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: "";
	left: 25px;
	position: absolute;
	top: -10px;
}

.mainmenu ul li:hover ul {
	opacity: 1;
	visibility: visible;
}

.mainmenu ul li ul li {
	float: none;
}

.mainmenu ul li ul li a {
	color: #000 !important;
	font-size: 12px;
	font-weight: 600;
	margin: 0;
	padding: 10px 25px;
}

.mainmenu ul li ul li.active a,
.mainmenu ul li ul li a:hover {
	background-color: #ffd000;
}

#header-bottom .container {
	position: relative;
}



.map-area iframe {
	border: medium none;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	height: 500px;
	width: 100%;
}



.single-testimonial {
	background-color: #1e2228;
	color: #fff;
	font-weight: 600;
	line-height: 2;
	position: relative;
	z-index: 1;
}

.single-testimonial::after {
	background-color: #1e2228;
	border-left: 4px solid #ffd000;
	content: "";
	height: 100%;
	left: -48px;
	position: absolute;
	top: 0;
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	width: 150px;
	z-index: -1;
}

.client-logo {
	border: 4px solid #ffd000;
	height: 105px;
	left: -70px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 105px;
}

.single-testimonial h3 {
	color: #ffd000;
	font-size: 15px;
	margin-top: 10px;
	text-transform: uppercase;
}

.testimonial-content .owl-dots {
	margin-top: 30px;
	text-align: center;
}

.testimonial-content .owl-dots div.owl-dot {
	border: 1px solid #ffd000;
	border-radius: 10px;
	display: inline-block;
	height: 5px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	margin: 0 5px;
	width: 40px;
}

.testimonial-content .owl-dots div.owl-dot.active {
	background-color: #ffd000;
}



#footer-area a {
	color: #ffd000;
}

.footer-widget-area {
	background-color: #1e2228;
	padding: 60px 0;
}

.footer-widget-area h2,
.footer-widget-area {
	color: #fff;
}

.singlefooter-widget h2 {
	border-bottom: 1px dashed #ffd000;
	display: inline-block;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 30px;
	padding-bottom: 15px;
	position: relative;
	text-transform: uppercase;
}

.single-footer-widget h2 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.single-footer-widget p {
	font-size: 13px;
	line-height: 2;
}

.single-footer-widget img {
	margin-bottom: 20px;
}




.get-touch {
	color: #ffd000;
	font-size: 15px;
	font-weight: 600;
	line-height: 2.5;
	margin-top: 20px;
}

.get-touch i.fa {
	margin-right: 5px;
}

.map-show {
	background-color: #ffd000;
	color: #000 !important;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	margin-top: 20px;
	padding: 10px 25px;
	text-transform: uppercase;
}

.footer-bottom-area {
	background-color: #000;
	color: #eaeaea;
	padding: 15px 0;
}



body.loader-active {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
}

.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 9999;
}

.preloader-spinner {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
}

.loader-content {
	width: 150px;
}



html,
body,
#slideslow-bg,
#slideslow-bg div {
	height: 100%;
}

#slideslow-bg .vegas-timer {
	height: 1px !important;
}

.slideshowcontent {
	color: #fff;
	font-weight: 600;
	line-height: 2;
	margin-top: 30px;
}

.slideshowcontent h1 {
	color: #ffd000;
	margin-bottom: 20px;
}

#slideslow-bg div.book-ur-car,
#slideslow-bg div.book-ur-car * {
	height: auto;
}

.service-right .col-lg-12:last-child .single-service,
.service-content .col-lg-6:last-child .single-service,
.service-content .col-lg-12:last-child .single-service {
	margin-bottom: 0;
}

.book-ur-car input::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}

.book-ur-car input:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

.book-ur-car input::placeholder {
	color: #fff;
	opacity: 1;
}

/*== SlideShow CSS ==*/

/*== Book Car CSS ==*/

.book-ur-car {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	margin: 70px auto auto;
	overflow: hidden;
	padding: 50px 20px;
	width: 90%;
}

.bookinput-item {
	border: 1px solid #fff;
	display: block;
	float: left;
	margin-right: 1%;
	width: 19.2%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.bookinput-item:last-child {
	margin-right: 0;
}

.book-ur-car select,
.book-ur-car input,
.book-ur-car button {
	background-color: transparent;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.book-ur-car select:focus,
.book-ur-car input:focus,
.book-ur-car button:focus {
	border-color: #fff;
	background-color: transparent;
}

.bookcar-btn button {
	padding: 7px;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.bookcar-btn:hover {
	background-color: #ffd000;
	border-color: #ffd000;
}


.book-ur-car .input-group-append i.fa {
	font-size: 15px !important;
	line-height: 30px;
	color: #ffd000;
}

.book-ur-car select option {
	color: #000;
	font-weight: 400;
	background: #fff;
	text-transform: capitalize;
}

.book-ur-car select.custom-select {
	background-image: url("assets/img/caret-cion.png");
	background-position: right 12px center;
	background-size: 12px auto;
}



#page-title-area {
	
	background-position: center center;
	background-size: cover;
	padding-top: 220px;
	background-image: url("/static/images/b1.jpg");
  	background-position: center center;
}

#about-title-area {
	padding-top: 338px;
}

#page-title-area .section-title {
	margin-bottom: 0;
}



.rating {
	color: #ffd000;
	font-size: 13px;
	position: absolute;
	right: 15px;
	top: 15px;
}

.rating i:hover {
	cursor: pointer;
}

.rating i.unmark:hover {
	color: #ffd000;
}

.rating i.unmark {
	color: #ddd;
}

.rent-btn {
	background-color: #000;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin-top: 5px;
	padding: 8px 30px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.rent-btn:hover {
	background-color: #ffd000;
	color: #fff;
}

/*==============================
    Car Details Page Css Start
================================*/

.car-details-content h2 {
	border-bottom: 1px solid #ffd000;
	font-weight: 400;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.car-details-content h2 span {
	float: right;
	font-size: 18px;
}

.car-details-info {
	color: #666;
	line-height: 2;
	padding-top: 30px;
}

.car-details-info h4 {
	color: #000;
	font-size: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.technical-info {
	margin-top: 30px;
}

.tech-info-list li {
	float: left;
	position: relative;
	width: 33.333%;
}

.tech-info-list ul {
	line-height: 5;
	overflow: hidden;
}

.tech-info-list li::before {
	color: #fab702;
	content: "\f058";
	font-family: FontAwesome;
	margin-right: 15px;
}

.car-preview-crousel .owl-dots {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: -33px;
	padding: 5px;
	position: relative;
	text-align: center;
	z-index: 99;
}

.car-preview-crousel .owl-dots div {
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	width: 10px;
}

.car-preview-crousel .owl-dots div.active {
	background-color: #ffd000;
}

.review-area {
	margin-top: 50px;
}

.review-area h3 {
	font-size: 17px;
	font-weight: 600;
}

.review-star {
	margin: 20px 0;
}

.review-star .rating {
	font-size: 20px;
	position: inherit;
}

.contact-form input,
.review-area input,
.contact-form textarea,
.review-area textarea {
	background-color: #fafafa;
	border: 1px solid #eaeaea;
	color: #000;
	padding: 8px 15px;
	resize: none;
	width: 100%;
}

.contact-form input:focus,
.review-area input:focus,
.contact-form textarea:focus,
.review-area textarea:focus {
	border-color: #ffd000;
}

.message-input,
.website-input,
.subject-input {
	margin-top: 30px;
}

.message-input textarea {
	padding: 15px;
}

.input-submit button {
	background-color: #ffd000;
	border: medium none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	margin-right: 15px;
	margin-top: 25px;
	padding: 8px 40px;
	text-transform: uppercase;
}


/*==============================
    Article Details Page Css
================================*/

.contact-form .input-submit button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 25px;
}

.maparea {
	height: 550px;
}

.maparea iframe {
	border: medium none;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	height: 100%;
	width: 100%;
}

/*==============================
    About Page Css
================================*/

#our-facility {
	background-image: url(assets/img/slider-img/slider-img-1.jpg);
	background-size: cover;
	background-position: center center;
	color: #fff;
}

.single-our-facility h3 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	position: relative;
}

.single-our-facility h3::after {
	background-color: #ffd000;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 100px;
}

.single-our-facility ul {
	font-weight: 600;
	line-height: 3.5;
}

.single-our-facility ul li {
	position: relative;
}

.single-our-facility ul li::before {
	color: #ffd000;
	content: "\f046";
	font-family: fontawesome;
	margin-right: 15px;
}




/*==============================
    Driver Page Css
================================*/
