{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
       <title>Contact US</title>

    <!--=== Bootstrap CSS ===-->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
      <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <!--=== Theme Reset CSS ===-->
     <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="{% static 'css/plugins/slicknav.min.css' %}" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="{% static 'css/plugins/magnific-popup.css' %}" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="{% static 'css/plugins/owl.carousel.min.css' %}" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="{% static 'css/plugins/gijgo.css' %}" rel="stylesheet">
   
    <link href="{% static 'css/style2.css' %}" rel="stylesheet">
    <!--=== Responsive CSS ===-->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">


</head>
<div class="container">
            <div class="modal fade" id="bikemodal" tabindex="-1" role="dialog" aria-hidden="true" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true" >×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExample" class="carousel slide" data-ride="carousel">
                               <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <h4 style="font-family: Amarante;margin:10px;text-align: center;">Royal Enfield Classic 350</h4>
                                            
                                        </div>
                                        <div class="col-12 d-flex justify-align-center" style="align-content: center; font-family: Amarante">
                                                <img  style="height:150px;" src="{% static 'images/enfield2.jpg' %}">
                                               <div class="col-12 col-sm-auto">
                                                <p>Price per hour : ₹ 60.00</p>
                                                <p>Engine Type: 249cc liquid-cooled</p>
                                               <p> Fuel Capacity: 13.5 Ltr</p>
                                                <p>Power:10.74 PS @ 7500 rpm</p>
                                            </div>
                                        </div>
                                                                               
                                    </div>
                                </div>
                               <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <h4 style="font-family: Amarante;margin:10px;text-align: center;">Deluxe</h4>
                                            
                                        </div>
                                        <div class="col-12 d-flex justify-align-center" style="align-content: center; font-family: Amarante">
                                            <img  style="height:150px;" src="{% static 'images/deluxe.png' %}">
                                            <div class="col-12 col-sm-auto">
                                                <p>Price per hour : ₹ 20.00</p>
                                                <p>Engine Type: 249cc liquid-cooled</p>
                                               <p> Fuel Capacity: 13.5 Ltr</p>
                                                <p>Power:10.74 PS @ 7500 rpm</p>
                                            </div>
                                        </div>
                                                                                
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <h4 style="font-family: Amarante;margin:10px;text-align: center;">Splender Plus</h4>
                                            
                                        </div>
                                        <div class="col-12 d-flex justify-align-center" style="align-content: center; font-family: Amarante">
                                            <img  style="height:150px;" src="{% static 'images/Splender.jpg' %}">
                                            <div class="col-12 col-sm-auto">
                                                <p>Price per hour : ₹ 25.00</p>
                                                <p>Engine Type: 249cc liquid-cooled</p>
                                               <p> Fuel Capacity: 13.5 Ltr</p>
                                                <p>Power:10.74 PS @ 7500 rpm</p>
                                            </div>
                                            </div>
                                                                               
                                        </div>
                                    </div>
                                
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <h4 style="font-family: Amarante;margin:10px;text-align: center;">Pleasure</h4>
                                            
                                        </div>
                                        <div class="col-12 d-flex justify-align-center" style="align-content: center; font-family: Amarante">
                                            <img  style="height:150px;" src="{% static 'images/Pleasure.png' %}">
                                           <div class="col-12 col-sm-auto">
                                                <p>Price per hour : ₹ 30.00</p>
                                                <p>Engine Type: 249cc liquid-cooled</p>
                                               <p> Fuel Capacity: 13.5 Ltr</p>
                                                <p>Power:10.74 PS @ 7500 rpm</p>
                                            </div>
                                        </div>                                     
                                     </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <h4 style="font-family: Amarante;margin:10px;text-align: center;">Passion Pro</h4>
                                            
                                        </div>
                                        <div class="col-12 d-flex justify-align-center" style="align-content: center; font-family: Amarante">
                                            <img  style="height:150px;" src="{% static 'images/passion.png' %}">
                                           <div class="col-12 col-sm-auto">
                                                <p>Price per hour : ₹ 30.00</p>
                                                <p>Engine Type: 249cc liquid-cooled</p>
                                               <p> Fuel Capacity: 13.5 Ltr</p>
                                                <p>Power:10.74 PS @ 7500 rpm</p>
                                            </div>
                                        </div>                                     
                                     </div>
                                </div>

                                </div>
                            
                                  <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only" >Previous</span>
                                  </a>
                                  <a class="carousel-control-next" href="#carouselExample" style="color: black" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </div>
                            

                            <div class="modal-footer bikemodalclose">
                                <button type="button" class="btn btn-secondary" id="bikemodal" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


<body class="loader-active">



    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> Mansarovar, Jaipur, India
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +91 9638527410
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> Mon-Sun 06.00 AM - 11.00 PM
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                          
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->

        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                   
                    <div class="col-lg-4">
                        <a href="/" class="logo" style="font-size: 25px;">
                            CITY ON BIKES
                           <i class="fa fa-motorcycle" ></i>
                        </a>
                    </div>
                 
                    <div class="col-lg-8 d-none d-xl-block">
                       <nav class="mainmenu alignright">
                            <ul>
                                 <li><a href="{% url 'rent_now' %}">RENT NOW</a></li>
                                <li>
                                    <a href="{% url 'about' %}">About</a>
                                    
                                </li>
                                  <li><a href="#" class="bikebutton">Bikes</a></li>
                                <li class="active"><a href="#">Contact</a></li>

                                <li>
                                    <a href="#">{{ request.user }} </a>
                                    <ul>
                                        <li><a href="#">Rides</a></li>
                                        <li><a href="{% url 'logoutUser' %}">Log Out</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>        

    <!--== Header Area End ==-->

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Contact Us</h2>
                        <span class="title-line"><i class="fa fa-motorcycle"></i></span>
                        <p>Feel free to give your valuable suggestions.</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Contact Page Area Start ==-->
    <div class="contact-page-wrao section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="contact-form">
                        <form action="regex.html">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="name-input">
                                        <input type="text" placeholder="Full Name">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="email-input">
                                        <input type="email" placeholder="Email Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="website-input">
                                        <input type="url" placeholder="Website">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="subject-input">
                                        <input type="text" placeholder="Subject">
                                    </div>
                                </div>
                            </div>

                            <div class="message-input">
                                <textarea name="review" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>

                            <div class="input-submit">
                                <button type="submit">Submit Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== Contact Page Area End ==-->

    <!--== Map Area Start ==-->
    <div class="maparea">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14242.125242550856!2d75.866787!3d26.8230484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f306afd08a3e737!2sSwami%20Keshvanand%20Institute%20of%20Technology%2C%20Management%20%26%20Gramothan%20(SKIT%20Jaipur)!5e0!3m2!1sen!2sin!4v1590668474082!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!--== Map Area End ==-->

    <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Start -->
                    
                    <!-- Single Footer Widget End -->
                    <div class="col-lg-6 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Current Centres</h2>
                            <div class="widget-body">
                                
                                <p>Currently we are providing our services in 5 centres in Jaipur city including Mansarovar, Sodala, Vaishali Nagar, Jhotwara and C-Scheme.</p>



                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->


                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-6 col-md-6">
                        <div class="single-footer-widget">
                            <h2>get touch</h2>
                            <div class="widget-body">
                                <p>Contact us for any Query.</p>

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> Mansarovar, Jaipur, India</li>
                                    <li><i class="fa fa-mobile"></i> +91 9638527410</li>
                                    <li><i class="fa fa-envelope"></i> cob@gmail.com</li>
                                </ul>
                                <a href="https://www.google.com/maps/place/Swami+Keshvanand+Institute+of+Technology,+Management+%26+Gramothan+(SKIT+Jaipur)/@26.8230484,75.866787,15z/data=!4m5!3m4!1s0x0:0x6f306afd08a3e737!8m2!3d26.8230484!4d75.866787" class="map-show" target="_blank">Show Location</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

      
        
    </section>
    <!--== Footer Area End ==-->

    <!--== Scroll Top Area Start ==-->
     <div class="scroll-top">
        <img src="{% static 'images/bike2.png' %}" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    <!--=======================Javascript============================-->
       <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <!--=== Popper Min Js ===-->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="{% static 'js/plugins/gijgo.js' %}"></script>
    <!--=== Vegas Min Js ===-->
    <script src="{% static 'js/plugins/vegas.min.js' %}"></script>
    <!--=== Isotope Min Js ===-->
    <script src="{% static 'js/plugins/isotope.min.js' %}"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="{% static 'js/plugins/owl.carousel.min.js' %}"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="{% static 'js/plugins/counterup.min.js' %}"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="{% static 'js/plugins/mb.YTPlayer.js' %}"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="{% static 'js/plugins/magnific-popup.min.js' %}"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="{% static 'js/plugins/slicknav.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        
       
            $('.bikebutton').click(function(){
            $('#bikemodal').modal("toggle");
            $('#bikemodal').modal("show");
            });
            $(".bikemodalclose").click(function(){
            $('#bikemodal').modal("hide");
            });
       
    </script>
</body>

</html>